/********** Template CSS **********/
:root {
    --primary: #2ca780;
    --light: #eee;
    --dark: #000;
    --soft-green: #f5fffc;
    --soft-green1: #e8fff3;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    background-color: var(--primary) !important;
}

.bg-soft-green {
    background-color: var(--soft-green) !important;
}

.text-soft-green {
    background-color: var(--soft-green) !important;
}

.bg-soft-green1 {
    background-color: var(--soft-green1) !important;
}

.text-soft-green1 {
    background-color: var(--soft-green1) !important;
}


.chat-btn {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem !important;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
}

.chat-btn img {
    height: 2rem;
    width: 2rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.mr-7 {
    margin-right: 3rem;
}

body {
    font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem !important;
    color: #646464 !important;

}

body a {
    font-size: 0.8rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    margin: 0;
}

h5 {
    font-weight: bold;
    font-size: 1rem;
}

h6 {
    font-weight: bold;
    font-size: 0.95rem;
}

/*** Toggle button ***/

div.toggle.btn {
    outline: 0.15rem solid #ffffff !important;
    border: none !important;
    border-radius: 0.1rem !important;
}

div.toggle.btn * {
    font-size: 0.7rem !important;
}

div.toggle.btn.btn-primary .toggle-group label.btn.btn-primary.toggle-on,
div.toggle.btn.btn-default .toggle-group label.btn.btn-primary.toggle-on,
div.toggle.btn.btn-primary .toggle-group label.btn.btn-default.toggle-off,
div.toggle.btn.btn-default .toggle-group label.btn.btn-default.toggle-off {
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
}

div.toggle.btn .toggle-group span.toggle-handle.btn {
    background-color: #fff !important;
    border-radius: 0.1rem !important;
    border-width: 0.4rem !important;
}

/*** Toggle button ***/
img {
    width: 100%;
}

.notification {
    background-color: #1a031a5b;
    border-radius: 0.25rem;
    position: relative;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 12px;
    border: 0.1rem solid #1a031a83;
}

.true {
    color: #18b372 !important;
}

.wrong {
    color: #ca1717 !important;
}

.notification.info {
    background-color: #d1ecf8 !important;
    color: #1a6183 !important;
    border-color: #0c699431 !important;
}

.notification.attention {
    background-color: #f8f0d1 !important;
    color: #685512 !important;
    border-color: #e7bf2cbb !important;
}

.notification.success {
    background-color: #00ff0038 !important;
    border: none;
}

.notification.danger {
    background-color: #ca000038 !important;
    border: none;
}

.box {
    border: 1px solid #0000001f;
    box-shadow: 0px 0px 5px 0px #0000000f;
    border-radius: 0.7rem;
}

.header-title {
    border-bottom: 1px solid #0000002b;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
}

.icon-sm {
    display: inline-block;
    width: 16px;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.r-border {
    border-right: 0.2rem solid #19b977;
}

.lg-show {
    display: flex;
}

.lg-hidden {
    display: none;
}


.icon-lr {
    display: inline-block;
    width: 6rem;
    text-align: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

span.new {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 3px 6px;
    background-color: #18b372;
    border-radius: 3px;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    border-radius: 0.2rem;
    background-color: #19b977;
    color: #fff;
    text-align: center;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 17px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.btn.btn-wide {
    padding-right: 2rem;
    padding-left: 2rem;
}

.btn.btn-high {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:focus-visible {
    color: #fff;
    background-color: #16aa6d;
}

.box .btn,
.btn.sec {
    background-color: #4077f3;
}

.box .btn:hover,
.btn.sec:hover,
.box .btn:active,
.btn.sec:active,
.box .btn:focus,
.btn.sec:focus,
.box .btn:focus-visible,
.btn.sec:focus-visible {
    color: #fff;
    background-color: #3b6ad8;
}

.btn.btn-first {
    background-color: #19b977 !important;
}

.btn.btn-first:hover,
.btn.btn-first:active,
.btn.btn-first:focus,
.btn.btn-first:focus-visible {
    color: #fff;
    background-color: #16aa6d !important;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 210px;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(180deg, #38bd79, #024f6c);
    transition: 0.5s;
    z-index: 999;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.content {
    margin-left: 210px;
    min-height: 100vh;
    background-color: #e8f9f0;
    transition: 0.5s;
    overflow: hidden;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -210px;
    }

    .content {
        width: calc(100% - 210px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -210px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
header.header {
    background-color: #eeeeee;
}

header.header .nav-box {
    background-color: #fff !important;
}

header.header .nav-box ul {
    list-style: none;
    display: flex;
}

header.header .nav-box ul i {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

header.header .nav-box ul .ul-item {
    text-transform: capitalize;
    font-weight: 600;
}

header.header .nav-box ul .ul-item:hover {
    color: #888888;
    cursor: pointer;
}

.navbar-nav {
    position: relative;
}

.box-br-sh {
    background-color: #cef1e459;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 5px 1px #92ab9f3b;
    border: 0.05rem solid #00000014;
}

header.header .navbar .navbar-nav .nav-item {
    margin-left: 15px;
}


header.header .navbar .navbar-nav .nav-item.no-style {
    background-color: inherit;
    padding: 0rem;
    border-radius: 0rem;
    box-shadow: none;
    border: none;
    font-size: 1rem;
}

header.header .navbar .navbar-nav .user-info {
    position: absolute;
    right: 0%;
}

.nav-item.lg-show {
    margin-right: 4rem;
}

.dropdown.lg-hidden {
    margin-right: 4rem;
}

.sidebar .navbar .navbar-nav .nav-link {
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
    outline: none;
    border-left: 5px solid;
    border-color: transparent;
    border-radius: 0rem 2rem 2rem 0rem;
    margin-right: 0.5rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.sidebar .navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF;
    border-left: 5px solid #18b372;
    background-color: #00000010;
}

.sidebar .navbar .navbar-nav .nav-link.active {
    color: #FFFFFF;
    background-color: #0000001c;
    border-left: 5px solid #18b372;
}

.sidebar .nav-item.dropdown.user-dropdown .nav-link {
    padding: 15px 35px;
    background-color: inherit;
    border: none;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .nav-item.dropdown.user-dropdown {
    margin: 10px 0 20px 0;
}

.sidebar .navbar-nav .dropdown-menu {
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.sidebar .nav-item.dropdown.user-dropdown .dropdown-item {
    padding-left: 0px !important;
    color: #cccccce0 !important;
    background-color: inherit;
    border: none !important;
}

.sidebar .nav-item.dropdown.user-dropdown .dropdown-item:hover {
    color: #FFFFFF !important;
    border: none !important;
}


.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    color: #ddd;
    background-color: inherit;
    border-left: 5px solid;
    border-color: transparent;
    margin-right: 0.5rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.sidebar .navbar .dropdown-item:hover {
    color: #FFFFFF;
}

.sidebar .navbar .dropdown-item.active {
    color: #FFFFFF;
    font-weight: bold;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: #aaaaaa;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 35px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #18b372;
    border-radius: 5px;
    color: #FFFFFF;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}


@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/*=============================
	Dashboard CSS
===============================*/

/*** Active Services ***/

.active-services {
    background-color: #fff;
    border-radius: 1rem;
}

.active-services .service-box {
    margin-top: 1rem;
}

.active-services .service-box .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.2rem 0.5rem;
}

.active-services .service-box .table-box .header-title {
    border-bottom: none;
    border-top: 1px solid #00000030;
    border-radius: 0rem 0rem 0.7rem 0.7rem;
}

.active-services .service-box .table-box .table {
    font-size: 0.75rem;
    margin-bottom: 3rem;
}

.active-services .service-box .table-box .table tbody tr:hover {
    background-color: #00000007 !important;
}

.active-services .service-box .table-box .table tbody td,
.active-services .service-box .table-box .table tbody th {
    text-transform: capitalize;
    border-bottom: none;
}

.active-services .service-box .table-box .table tbody th a {
    color: #0d6efd;
}

.active-services .service-box .table-box .table tbody th a:hover {
    color: #0a58ca;
    cursor: pointer;
}

.header-title .btn.btn-primary {
    border-radius: 3px;
    font-size: 0.8rem !important
}

.active-services .service-box .btn.btn-primary {
    border-radius: 0.2rem;
    width: 85%;
    font-size: 1rem !important;
}

.active-services .service-box .table-box .btn.btn-primary {
    font-size: 0.75rem !important;
}

.active-services .service-box .content-box span {
    font-size: 0.8rem;
}

.active-services .service-box .header-title {
    background-color: #eeeeee;
}

/*** Article ***/

.article .news-box {
    background-color: #fff;
}

.article .header-title {
    display: flex;
    padding: 0.5rem 1rem;
}

.article .balance.news-box .header-title .btn.btn-primary,
.article .promo-code.news-box .content-box .btn.btn-primary {
    background-color: #18b372;
    border-radius: 0.2rem;
    border: none;
}

.article .balance.news-box .header-title .btn.btn-primary:hover,
.article .promo-code.news-box .content-box .btn.btn-primary:hover {
    background-color: #149b62;
}

.article .balance.news-box .content-box span {
    font-size: 0.7rem;
}

.article .balance.news-box .content-box span.icon-sm {
    color: #000;
}

.article .promo-code.news-box .header-title.header-border {
    padding: 0.8rem;
    padding-left: 1.3rem;
    color: #fff;
    background-color: #18b372;
    border: 1px solid #18b372;
}

.article .promo-code.news-box .content-box {
    border: 0.12rem solid #18b372;
    border-radius: 0rem 0rem 0.7rem 0.7rem;
}

.article .promo-code.news-box .content-box .form-control {
    border-radius: 0.2rem;
    width: 100%;
    box-shadow: none;
    text-decoration: none;

}

.article .promo-code.news-box .content-box .form-control:active,
.article .promo-code.news-box .content-box .form-control:hover {
    border-color: #18b372;
}

.article .tickets.news-box .header-title .news-lnk,
.article .news.news-box .header-title .news-lnk {
    color: #cccccc;
    text-decoration: none;
}

.article .tickets.news-box .header-title .news-lnk:hover,
.article .news.news-box .header-title .news-lnk:hover {
    color: #aaaaaa;
}

.article .tickets.news-box .content-box span,
.article .news.news-box .content-box span {
    font-size: 0.8rem;
}

.article .tickets.news-box .content-box span.first,
.article .news.news-box .content-box span.first {
    font-weight: bold;
    color: #0a58ca;
}

.article .referral-system.news-box .content-box .btn.btn-primary {
    border-radius: 0.2rem;
    font-size: 0.85rem !important;
}

.article .news.news-box .content-box h3 {
    color: #555;
}

.article .news.news-box .content-box span {
    color: #666;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.75rem;
}

.article .news.news-box .content-box h5 {
    color: #0a58ca;
}

/*** Contacts ***/

#contacts {
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.contacts {
    background-color: #f7fffb;
    padding: 2rem 0rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    height: 100%;
}

#contacts .contacts h6 {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}

#contacts .contacts h6:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.05rem;
    margin: 1rem 0rem;
    background-color: #0000002b;
}

.contacts .navbar .navbar-nav .nav-item.nav-link {
    margin-left: 0;
    color: #444444;
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 1.5rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.contacts .navbar .navbar-nav .nav-item.nav-link:hover {
    background-color: #ddf5e9;
}

/*=============================
	Personal CSS
===============================*/

/* Start Pop up */
.popup {
    position: relative;
    right: -1rem;
    bottom: 3rem;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

#BuyMore {
    position: absolute;
    left: -7rem;
}

#BuyMore.btn:hover {
    background-color: #0e965d;
    color: #fff;
}

#BuyMore.btn:focus,
#BuyMore.btn:focus-visible,
#BuyMore.btn:active {
    background-color: #0fa064;
}

.sidepanel {
    position: absolute;
    width: 20rem;
    z-index: 1;
    height: 225px;
    top: 0px;
    left: -12px;
    background-color: rgb(120, 230, 193);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*** Active Packages ***/

.active-packages {
    background-color: #fff;
}

.active-packages .packages-box {
    margin-top: 1rem;
}

.active-packages .packages-box .table-box .header-title {
    padding: 0;
}

.active-packages .packages-box .table-box table.table {
    font-size: 0.8rem;
    margin-bottom: 3rem;
    color: #3f3f3f !important;
}

.active-packages .packages-box .table-box table.table thead th {
    text-transform: capitalize;

}

.active-packages .packages-box .table-box table.table tbody td {
    text-transform: capitalize;
    text-align: center;
    padding: 0.5rem;
    vertical-align: middle;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.active-packages .packages-box .table-box table.table tbody tr:nth-of-type(odd) {
    background-color: var(--soft-green);
}

.active-packages .packages-box .table-box table.table tbody tr:nth-of-type(even) {
    background-color: var(--soft-green1);
}

.active-packages .packages-box .table-box table.table tbody td span.user,
.active-packages .packages-box .table-box table.table tbody td span.pass,
.active-packages .packages-box .table-box table.table tbody td span.ip {
    text-decoration-line: underline;
}

.active-packages .packages-box .table-box table.table tbody td span.pass,
.active-packages .packages-box .table-box table.table tbody td span.ip {
    text-decoration-style: dashed;
}

.active-packages .packages-box .table-box table.table tbody td .btn.btn-primary {
    border-radius: 0.2rem;
    font-size: 1rem !important;
}

.active-packages .packages-box .table-box table.table tbody td:first-of-type,
.active-packages .packages-box .table-box table.table thead th:first-of-type {
    text-align: center;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(2),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(2) {
    text-align: right;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(3),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(3) {
    text-align: left;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(3) a.link {
    text-decoration: none;
    color: #0a58ca;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(3) a.link:hover {
    text-decoration: none;
    color: #0d6efd;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(3) .btn.btn-primary,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.form .btn.btn-primary {
    font-size: 0.75rem !important;
    padding: 0.15rem 0.2rem;
    border: 0.1rem solid #646464;
    font-weight: 600;
    background-color: inherit;
    color: #646464;
    margin-top: 0.3rem;
    outline: none;
    border: 0.1rem solid #00000045;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(3) .btn.btn-primary:hover,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div .btn.btn-primary:hover {
    background-color: #0000000d;
    color: #464646;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(4),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(4) {
    text-align: right;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(4) span {
    color: #0a58ca !important;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(5) {
    text-align: center;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn {
    outline-color: #18b372 !important;
    width: 6.5rem !important;
    min-height: 1.2rem !important;
    height: 1.2rem !important;
    padding: 0;
    margin: 0.5rem auto;
}


.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) span.user,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) span.pass,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) span.ip {
    cursor: pointer;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-primary .toggle-group label.btn.btn-primary.toggle-on,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-default .toggle-group label.btn.btn-primary.toggle-on,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-primary .toggle-group label.btn.btn-default.toggle-off,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-default .toggle-group label.btn.btn-default.toggle-off {
    background-color: #18b372 !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-size: 0.7rem !important;
    font-weight: 600 !important;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-primary .toggle-group label.btn.btn-default.toggle-off,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-default .toggle-group label.btn.btn-default.toggle-off {
    justify-content: end;
    padding-right: 0.5rem;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-primary .toggle-group label.btn.btn-primary.toggle-on,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) div.toggle.btn.btn-default .toggle-group label.btn.btn-primary.toggle-on {
    justify-content: start;
    padding-left: 0.5rem;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .textfield,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .password {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border: 0.1rem solid #0000001f;
    border-radius: 0.2rem;
    width: 49%;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .textfield:disabled {
    background-color: inherit;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .textfield:focus-visible,
.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .password:focus-visible {
    outline: 0.15em solid #18b372;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) #ip .textfield {
    width: 100%;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(6) {
    text-align: center;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6) .btn.btn-primary {
    padding: 0.3rem !important;
    color: #fff;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6)r .btn.btn-primary:first-child {
    background-color: #0a58ca;
    border-color: #0a58ca;
    color: #fff;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6) .btn.btn-primary:first-child:hover {
    background-color: #1051b3;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6) .btn.btn-primary:last-child {
    background-color: #f8df00;
    border-color: #f8df00;
    color: #fff;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(6) .btn.btn-primary:last-child:hover {
    background-color: #eed600;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(7),
.active-packages .packages-box .table-box table.table thead th:nth-of-type(7) {
    text-align: center;
}

.active-packages .packages-box .table-box table.table tbody td:nth-of-type(7) {
    font-weight: bold !important;
    color: #0a58ca !important;

}

.active-packages .packages-box .table-box table.table tbody td:last-of-type,
.active-packages .packages-box .table-box table.table thead th:last-of-type {
    text-align: center;
}

.active-packages .packages-box .table-box table.table tbody td:last-of-type .icon-sm {
    width: 1.3rem;
}


.active-packages .packages-box .content-box {
    font-size: 0.8rem;
    font-weight: 500;
}

/*** Buy Personal Proxy ***/

.buy-personal-proxy .news-box {
    background-color: #fff;
}

.buy-personal-proxy .header-title {
    display: flex;
    padding: 0.5rem 1rem;
}

.buy-personal-proxy .header-title .title {
    text-align: start;
    flex-basis: 40%;
}

.buy-personal-proxy .header-title .buttons-container {
    text-align: end;
    flex-basis: 60%;
}

.buy-personal-proxy .balance.news-box .header-title .btn.btn-primary,
.buy-personal-proxy .promo-code.news-box .content-box .btn.btn-primary {
    background-color: #18b372;
    border-radius: 0.2rem;
    border: none;
}

.buy-personal-proxy .balance.news-box .header-title .btn.btn-primary:hover,
.buy-personal-proxy .promo-code.news-box .content-box .btn.btn-primary:hover {
    background-color: #149b62;
}


.buy-personal-proxy .balance.news-box table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-personal-proxy .balance.news-box table tbody tr td {
    padding: 0;
    padding-bottom: 1rem;
    position: relative;
}

.buy-personal-proxy .balance.news-box table tbody tr td:first-child {
    text-align: end;
    flex-basis: 15%;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child {
    text-align: start;
    flex-basis: 80%;
}

.buy-personal-proxy .balance.news-box table tbody tr td .icon-sm {
    position: absolute;
    top: 20%;
    right: 1%;
}

.buy-personal-proxy #select-country {
    border-radius: 0.2rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.buy-personal-proxy #select-country:focus-visible {
    outline: none;
    border-color: #18b372;
    box-shadow: 0 0 1px 0.1em #18b37212;
}

.buy-personal-proxy .balance.news-box input.parsley-success,
.buy-personal-proxy .balance.news-box select.parsley-success,
.buy-personal-proxy .balance.news-box textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.buy-personal-proxy .balance.news-box label {
    transition: all 0.1s linear;
    font-weight: bold;
}

.buy-personal-proxy .balance.news-box label.on {
    color: #4481C4;
}

.buy-personal-proxy .balance.news-box label.show {
    top: -15px;
    opacity: 1;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child .textfield {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border: 0.1rem solid #0000001f;
    border-radius: 0.2rem;
    width: 100%;
    height: 100%;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child .textfield:disabled {
    background-color: inherit;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child .textfield:focus-visible {
    outline: 0.15em solid #18b372;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child .btn.btn-primary {
    border-radius: 0.2rem;
    font-size: 1rem !important;
    font-weight: 600;
}

.buy-personal-proxy .balance.news-box table tbody tr td:last-child .btn.btn-primary {
    font-size: 0.75rem !important;
}

/*=============================
	Chat CSS
===============================*/
.chat-panel {
    width: 100%;
    box-shadow: 0px 0px 5px 0px #0000000f;
    border-radius: 0.7rem;
}

.panel-heading {
    position: sticky;
    background-color: #fff;
    top: 2.95rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    border: 0.05rem solid #0000001a;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    z-index: 2;
}

.panel-heading .chat-avatar {
    float: left;
}

.panel-heading .chat-avatar .avatar {
    width: 3rem;
}

.chat-box {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden
}

.panel-body {
    border-left: 0.05rem solid #0000001a;
    border-right: 0.05rem solid #0000001a;
    background-color: #fff;
}

.panel-body .chats {
    padding: 1rem;
}


.chat-avatar {
    float: right
}

.chat-avatar .avatar {
    width: 1.9rem;
    -webkit-box-shadow: 0rem 0.1rem 0.1rem 0rem #00000033, 0rem 0.4rem 0.6rem 0rem #0000004d;
    box-shadow: 0rem 0.1rem 0.1rem 0rem #00000033, 0rem 0.4rem 0.6rem 0rem #0000004d;
}

.chat-body {
    display: block;
    margin: 0.6rem 1.9rem 0rem 0rem;
    overflow: hidden;
}

.chat-body:first-child {
    margin-top: 0;
}

.chat-content {
    position: relative;
    display: block;
    float: right;
    padding: 0.5rem 0.9rem;
    margin: 0rem 1.3rem 0.6rem 0rem;
    clear: both;
    color: #fff;
    background-color: #2086e7;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0rem 0.05rem 0.3rem 0rem #0000005e;
    box-shadow: 0rem 0.05rem 0.3rem 0rem #0000005e;
}

.chat-content:before {
    position: absolute;
    top: 0.6rem;
    right: -0.6rem;
    width: 0rem;
    height: 0rem;
    content: '';
    border: 0.3rem solid transparent;
    border-left-color: #2086e7;
}

.chat-content>p:last-child {
    margin-bottom: 0rem;
}

.chat-content+.chat-content:before {
    border-color: transparent;
}

.chat-time {
    display: block;
    margin-top: 0.5rem;
    color: #ffffff99;
}

.chat-left .chat-avatar {
    float: left;
}

.chat-left .chat-body {
    margin-right: 0rem;
    margin-left: 1.9rem;
}

.chat-left .chat-content {
    float: left;
    margin: 0rem 0rem 0.6rem 1.3rem;
    color: #76838f;
    background-color: #d4ffe8;
}

.chat-left .chat-content:before {
    right: auto;
    left: -0.6rem;
    border-right-color: #d4ffe8;
    border-left-color: transparent;
}

.chat-left .chat-content+.chat-content:before {
    border-color: transparent;
}

.chat-left .chat-time {
    color: #a3afb7;
}

.panel-footer {
    padding: 1rem 0.2rem;
    position: sticky;
    background-color: #fff;
    bottom: 0rem;
    gap: 0.5rem;
    border: 0.05rem solid #0000001a;
    border-top: none;
    border-radius: 0rem 0rem 0.7rem 0.7rem;
    z-index: 2;
}

.panel-footer .form-control:focus {
    box-shadow: 0 0 0.3rem 0rem #0d6efd40;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 50%;
}

.chat-avatar .avatar {
    width: 1.9rem;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    white-space: nowrap;
    border-radius: 50%;
    vertical-align: bottom;
}

/*=============================
	Contact us CSS
===============================*/

.contact-us {
    color: #444;
    position: relative;
    background: url(../images/dashboard/map.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-us:before {
    background-color: #e8f9f0f2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.contact-us .par-content {
    margin: 1rem auto;
    width: 80%;
    font-size: 1rem;
}

.contact-us h5 {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-us .contents {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-us .contents .content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #414141;
}

.contact-us .contents .content-box a {
    text-decoration: none;
    font-weight: bold;
}

.contact-us .contents.highlight {
    position: relative;
}

.contact-us .contents.highlight::before {
    background-color: #72ff9775;
    border-radius: 0.7rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% + 36px);
    height: calc(100% + 18px);
    margin-top: -9px;
    margin-left: -18px;
    content: '';
    border: 0.06rem solid #6FC285;
}

.contact-us .contents .font-icon {
    position: relative;
    color: #414141;
    margin-right: 1rem;
}

label.control-label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: .1em;
    text-transform: uppercase;
}


.contact-us table tbody tr {
    align-items: center;
    justify-content: space-between;
}

.contact-us table tbody tr td {
    padding-bottom: 1rem;
    position: relative;
}

.contact-us input.parsley-success,
.contact-us select.parsley-success,
.contact-us textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.contact-us label {
    transition: all 0.1s linear;
    font-weight: bold;
}

.contact-us label.on {
    color: #4481C4;
}

.contact-us label.show {
    top: -15px;
    opacity: 1;
}

.contact-us table tbody tr td .textfield,
.contact-us table tbody tr td .form-control {
    padding: 0rem 1rem;
    border: 0.1rem solid #0000001f;
    border-radius: 0.18rem;
    font-size: 1rem;
    width: 100%;
    min-height: 3rem;
    background-color: #72ff9775;
}

.contact-us table tbody tr td .textfield:focus-visible,
.contact-us tbody tr td .form-control:focus-visible,
.contact-us table tbody tr td .textfield:focus,
.contact-us table tbody tr td .form-control:focus {
    outline: none;
    box-shadow: 0 0 5px 0rem #18b372;
}

.contact-us table tbody tr td .form-control {
    padding: 0.5rem 1rem;
    min-height: 15rem;
}

.contact-us table tbody tr td .btn {
    border-radius: 0.2rem;
    font-size: 1rem !important;
    font-weight: 600;
}


/*=============================
 Footer CSS
===============================*/

footer.footer {
    background-color: #fff;
}

/*** Responsive ***/
@media (max-width: 991.98px) {
    #sidebar .profile-icon {
        margin-top: 3rem;
    }
}

@media (max-width: 800px) {

    .active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .textfield,
    .active-packages .packages-box .table-box table.table tbody td:nth-of-type(5) .password {
        width: 100%;
        padding: 0.2rem 0.3rem;
        font-weight: 400;
        border-radius: 0.1rem;
    }
}

@media (max-width: 768px) {

    .buy-personal-proxy .balance.news-box table tbody tr td:first-child {
        flex-basis: 21% !important;
    }

    .buy-personal-proxy .balance.news-box table tbody tr td:last-child {
        flex-basis: 75% !important;
    }
}

@media (min-width: 768px) {
    .contents .row #active-services.col-md-6 {
        width: 52%;
    }

    .contents .row #article.col-md-3 {
        width: 27%;
    }

    .contents .row #contacts.col-md-3 {
        width: 21%;
    }
}

@media (max-width: 480px) {
    .buy-personal-proxy .header-title {
        text-align: start !important;
        display: grid;
    }

    .lg-show {
        display: none;
    }

    .lg-hidden {
        display: block;
    }
}